.search
    position: relative
    margin: 0 60px
    @media (max-width: 860px) 
      margin: 20px 0 0
      .searchInput:focus
        width: 240px
    @media (max-width: 550px) 
        margin: 20px 0
        .searchInput
            width: 100%
.searchInput
    height: 42px
    width: 320px
    border-radius: 10px
    border: 1px solid rgba(0, 0, 0, 0.1)
    color: #373737
    font-size: 16px
    padding: 5px 10px 5px 36px
    transition: .3s
.logo
    position: absolute
    width: 16px
    top: 13px
    left: 13px
.close
    cursor: pointer
    position: absolute
    width: 13px
    right: 13px
    top: 14px
    z-index: 5